.bg-modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  -webkit-filter: blur(4px);
  background-size: cover;
  z-index: 3;
  top: 0;
  left: 0;
}


.modal {
  position: fixed;
  width: 70%;
  z-index: 5;
  margin: 0 auto;
  background: #353535;
  border-radius: 30px;
  left: 15%;
  top: 8%;
  padding: 3%;

  &--items {
    &--back {
      width: 50px;
      margin: 10px;
      height: 50px;
      font-size: 2rem;
      color: white;
      text-align: left;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      position: relative;

      &:hover {
        background: #797979;
      }
    }

    &--slider {
      padding-bottom: 15px;
      margin: 50px 0;
      img {
        width: 80% !important;
        height: 10%;
      }

      .slick-slider{
        .slick-prev:before{
          display: none;
          font-size: 0;
        }
        .slick-next:before{
          display: none;
          font-size: 0;
        }
        .slick-dots{
          display: flex;
          align-items: center;
          position: absolute;
          bottom: -30%;
          li{
            button::before{
              margin-top: 100%;
              font-size: 0;
              border-radius: 50%;
              background: #979696;
              width: 10px;
              height: 10px;
            }
          }
        }
        .slick-dots .slick-active{
          button::before {
            width: 12px;
            height: 12px;
            margin-bottom: 5px;
            font-size: 0;
            background: white;
          }
        }
      }
    }
    h3{
      margin-top: 30px;
      color: white;
      font-weight: 500;
      font-size: 18px;
      text-align: center;
    }
  }
}